.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.conteudo_sessao{
    justify-self: center;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo__titulo{
    margin-top: 10px;
    font-size:36px;
    font-family: Teko;
    color:rgb(161, 15, 5);

}
.conteudo__texto{
    font-size: 20px;
    text-align: justify;
    font-size: Montserrat;
    color:#FFF2E7;
    padding: 1rem 2rem;
}
.conteudo__img{
    width: 30%;
    height: 30%;
    padding-left: 200px;
}

strong{
    font-weight: bold;
    color:rgb(5, 75, 161);

}
.instru_img{
    display: flex;
    align-items:left;
    justify-content:left;
    width: 45%;
    border-radius: 10px;
    padding: 1rem 0;
}

.contato__titulo{
    margin-top: 10px;
    font-size:36px;
    font-family: Teko;
    color:rgb(161, 15, 5);
}

.contato__texto{
    font-size: 16px;
    text-align: justify;
    font-size: Montserrat;
    color:#FFF2E7;
    padding: 1rem 2rem;
}